
    <ion-card >
      <ion-card-header>
     <h2>Occupant Registration</h2>
      </ion-card-header>
      <ion-card-content>
       
        <ion-item>
          <ion-label>Select Division
            <span class="mandatory">&nbsp;*</span>
          </ion-label>
          
          <ion-select [(ngModel)]="div" [interfaceOptions]="cutomPopoverOptions" interface="popover" (ionChange)="onSelectChangeDivision($event.target.value)" >
            <ion-select-option *ngFor="let div of divisionData" [value]=div> {{div.locationType}}</ion-select-option>
         </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Select Location
            <span class="mandatory">&nbsp;*</span>
          </ion-label>
        
          <ion-select name="locationname" [interfaceOptions]="cutomPopoverOptions" interface="popover" (ionChange)="onSelectChangeLocation($event.target.value)" >
            <ion-select-option  *ngFor="let loc of locationData" [value]=loc> {{loc.locationName}}</ion-select-option>
         </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Select Complex
            <span class="mandatory">&nbsp;*</span>
          </ion-label>
        
          <ion-select name="complexname" [interfaceOptions]="cutomPopoverOptions" interface="popover" (ionChange)="onSelectChangeComplex($event.target.value)" >
            <ion-select-option *ngFor="let cdata of complexData" [value]=cdata> {{cdata.complexName}}</ion-select-option>
         </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>select Building</ion-label>
          <ion-select name="AccomodationName" [interfaceOptions]="cutomPopoverOptions" interface="popover"  (ionChange)="onSelectChangeBuilding($event.target.value)" >
            <ion-select-option *ngFor="let accom of AccomodationTypes" [value]=accom> {{accom.accommodationType}}</ion-select-option>
         </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>select Accommodation</ion-label>
          <ion-select name="AccomodationName" [interfaceOptions]="cutomPopoverOptions" interface="popover" (ionChange)="onSelectChangeAccom($event.target.value)" >
            <ion-select-option *ngFor="let accom of AccomodationData" [value]=accom> {{accom.accommodationNumber}}</ion-select-option>
         </ion-select>
        </ion-item>
      
       
      
       <br>
       <ion-button (click)="AddOccupant()" color="#00B81C"  style="background-color: #00B81C;border-radius: 4px;" > Add Personal Details</ion-button>
        
     
      </ion-card-content>
    </ion-card>
 
