page-assetreturnrequest{
    .card-diplay{
      padding: 15px;
      /* background-color:cornsilk; */
    }
    .card-diplay-detail{
      padding: 15px;
      background-color: #f7f7f7;
    }
  
    .menu-logo1 {
  height: 40px;
  }
  .pagelogo {
   float: right;
   margin-top: -37px;
   }
  
  
  .headerr{
   color:#172c4e; 
  }  
  
  .underline {
     text-decoration: underline;
     color:#172c4e;
     font-size: large;
   }
  }
  