<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Occupant Approval</ion-title>
  </ion-toolbar>


<style>
  .button-md {
  height: 3.6rem !important;
  font-size: 1em;
  float: inherit;
}
</style>
</ion-header>


<ion-content padding>
 <div>
    <ion-item>
      <h4 class="headerr">Occupant Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay"> 
      <span>Occupant Name:{{this.Occupantdata.OccupantName}} </span><br>
      <span>Mobile Number:{{this.Occupantdata.MobileNumber}} </span><br>

        <!-- <span>EmailID:{{this.Occupantdata.EmailID}} </span> -->
        <span>Requested Date:{{this.Occupantdata.CreatedDate}}</span><br>
    </ion-card>
  </div>
  <div>
    <ion-item>
      <h4 class="headerr">Location Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay-detail"> 
        <span>Location: {{this.Occupantdata.Location}}</span><br>
        <span>Division:{{this.Occupantdata.Division}} </span><br>
        <span>Complex:{{this.Occupantdata.ComplexName}}</span><br>
       
        <span>Accomodation Type: {{this.Occupantdata.AccomodationType}}</span><br>
        <span>Accomodation Number: {{this.Occupantdata.AccomodationNo}}</span><br><br>
       
    </ion-card>
  </div>
<form >
 <div class="card-diplay-detail">
   
    
    <br/>
   
</div>

</form>

</ion-content>

