<ion-header>
  <ion-toolbar class="grad" color="transparent">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rejected Occupant Details</ion-title>
  </ion-toolbar>


<style>
  .button-md {
  height: 3.6rem !important;
  font-size: 1em;
  float: inherit;
}
</style>
</ion-header>


<ion-content padding>
 <div>
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
      <h4 class="headerr">Personal Information:</h4>
    </ion-item> 
    <ion-card class="card-diplay"> 
      <span>Occupant Name:{{this.Occupantdata.OccupantName}} </span><br>
      <span>Mobile Number:{{this.Occupantdata.MobileNumber}} </span><br>

        <!-- <span>EmailID:{{this.Occupantdata.EmailID}} </span> -->
        <span>Requested Date:{{this.Occupantdata.CreatedDate}}</span><br>
        <span>Status: {{this.Occupantdata.Status}}</span><br>
       
    </ion-card>
  </div>

  
  <div>
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
      <h4 class="headerr">Accomodation Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay-detail"> 
        <span>Location: {{this.Occupantdata.Location}}</span><br>
        <span>Division:{{this.Occupantdata.Division}} </span><br>
        <span>Complex:{{this.Occupantdata.ComplexName}}</span><br>
          
        <span>Building Name: {{this.Occupantdata.BuildingName}}</span><br>
        <span>Accomodation Number: {{this.Occupantdata.AccomodationNo}}</span><br><br>
       
    </ion-card>
  </div>
  <br>

</ion-content>

