<ion-header>
  <ion-toolbar class="grad" color="transparent">
   <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-title>  Resolved Complaints</ion-title>
 </ion-toolbar>

</ion-header>


<ion-content>
 <div class="ion-padding">

  
   <ngx-datatable 
     class="material"
<<<<<<< HEAD
     [limit]="10" 
=======
     [limit]="5" 
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
     [rows]="rows" 
     [rowHeight]="50" 
     [columns]="columns"
     [columnMode]="'force'" 
     [sortType]="'multi'" 
     [headerHeight]="50" 
     [footerHeight]="50"
     (activate)="onActivate($event)">
   </ngx-datatable>

 </div>
</ion-content>