@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


.title{
    color: aliceblue;
    text-align: center;
 font: bold;
  
  }
  .grad{
   // background-image: linear-gradient(#4E2AFF ,#42F5FF);
    background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
  }