<!--
  Generated template for the OccupantRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar class="grad" color="transparent">  

    <div class="pagelogo">
      <div style="float: left">
      <img  src="assets/imgs/meslogo4.png"  class="menu-logo1" width="45px" height="45px" style=" padding-left:5px;padding-top: 0px; margin-top:-10px;"  />
      </div>
      <div>
      <h6 color="transparent" class="title"  >MES Complaint Management</h6>
    </div>
  </div>
  </ion-toolbar>   

    <!-- <ion-title style="height: 100px;">
      <h2 style="text-align: center;color:black">Login</h2>
    
    </ion-title> -->
  
</ion-header>


<ion-content class="background">
  <form [formGroup]="loginForm" novalidate>
   
    <ion-card >
      <!-- <ion-card-header>
     <h4 style="text-align:center">
       Login
     </h4>
      </ion-card-header> -->
      <ion-card-content>
       
      
        <ion-item>
         
          <ion-label position="floating">User Name/MobileNo</ion-label>
          <ion-input   position="floating"    formControlName="MobileNumber"   type="text"   ></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.MobileNumber.errors?.required" style="color: red;">
          UserName is required.
        </span>
      
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input   formControlName="Password" [type]="showPwd ? 'text' : 'password'" ></ion-input>
          <ion-icon
          slot="end"
          [name]="pwdIcon"
          (click)="togglePwd()"
          style="margin-top: 15px;">
        </ion-icon>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Password.errors?.required" style="color: red;">
          Password is required.
        </span>
      
       <br>
        <ion-button color="danger"  type="submit" (click)="Login()" style="width: 100%;color:goldenrod">Login
       </ion-button><br><br>
       <p style="text-align: center;font-weight: bold;">Don't have a account?</p>
       <ion-button  type="submit"  color="#00B81C"  (click)="occupantregistration()" style="width: 100%;background-color:#00B81C;border-radius: 4px;" >Click Here
      </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
