
ion-card-content {    

  //background: linear-gradient(25deg, rgb(245, 110, 20)  ,rgb(119, 252, 78),rgb(231, 122, 58),rgb(52, 196, 240),rgb(247, 55, 55));
  background-color: none;
  background-color: linear-gradient(#6c8687);
  animation: colorchange 25s ease-out infinite;
  background-size:400% 400%  ;
}
  @keyframes colorchange
  {
      0%{background-position: 0% 99%}
      50%{background-position: 100% 1%}
      100%{background-position: 10% 90%}
  }
 
  
  .scroll-content {
    /*align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
    text-align: center;
  }
  .title{
    color: aliceblue;
    text-align: center;
 font: bold;
  
  }
  .grad{
   // background-image: linear-gradient(#4E2AFF ,#42F5FF);
    background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
  }
  // ion-card.card {
  //   box-shadow: none;
  //   background: none;
  //   border-radius: 10px;
  //   z-index: 100;    
  //     top: 25%;      
    
  // }
  // .item {
  //  background: none;
  //   border: medium none;
  // }
  ion-input {
    //border-bottom: #FD4D73 solid 1px;
    border-radius: 10px;
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
  }


// page-login {
//     .background {
//       width: 100%;
//       height: 100%;
//      background: #FC664E  ;
//     background: linear-gradient(360deg, rgb(228, 130, 64)  ,rgb(119, 252, 78),rgb(252, 78, 116),rgb(52, 196, 240));
//     }
//     .scroll-content {
//       /*align-content: center;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;*/
//       text-align: center;
//     }
//     ion-card.card {
//       box-shadow: none;
//       background: rgba(232, 230, 230, 0.6px);
//       border-radius: 10px;
//       z-index: 100;
    
//     }
//     .item {
//       background: rgba(232, 230, 230, 0px);
//       border: medium none;
//     }
//     ion-input {
//       border-bottom: #FD4D73 solid 1px;
//     }
//     h1{
//       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//       font-size: 3em;
//       font-weight: lighter;
//       color: #fff;
//     }
//   }

.menu-logo1{
  margin-top:10px;
 }