<ion-header>
  <ion-toolbar class="grad" color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Pending Complaints</ion-title>
  </ion-toolbar>


<style>
  .button-md {
  height: 3.6rem !important;
  font-size: 1em;
  float: inherit;
}
</style>
</ion-header>

<ion-content>
  <div>
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
      <h4 class="headerr">Occupant Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay"> 
      <span> Name:{{this.Occupantdata.OccupantName}} </span><br>
      <span>Phone No:{{this.Occupantdata.MobileNumber}} </span><br>
  
        <span>Created Date:{{this.Occupantdata.CreatedDate}}</span><br>
        <span>Location: {{this.Occupantdata.Location}}</span><br>
       <span>Accomodation Type: {{this.Occupantdata.AccomodationType}}</span><br>
        <span>Accomodation Number: {{this.Occupantdata.AccomodationNo}}</span><br><br>
    </ion-card>
  </div>
  <div>
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
      <h4 class="headerr">Complaint Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay-detail"> 
        
      <span>ServiceType:{{this.Occupantdata.ServiceTypeName}}</span><br>
      <span>Description:{{this.Occupantdata.Description}} </span><br>
      <span>Status:{{this.Occupantdata.Status}} </span><br>
   
    </ion-card>
    
  </div>

  
</ion-content>
