<ion-header>
  <!-- <ion-toolbar>
    <ion-title>View Complaint Registration Details</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      View Complaint Registration Details
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let items of posts" class="card-diplay-detail" >   
    <h2> Pending Complaints </h2>     
    <!-- <h2>{{items.AssetDesc}}</h2> -->
    <span> Complaint Code:   {{ items.name}}</span>
    <span> Name:   {{ items.name}}</span>
    <span>Mobile No:   {{ items.mobileNo}}</span>
    <span>Type Of Service:   {{ items.typeofservice}}</span>
    <span>Created Date:   {{ items.date | date: 'dd/MM/yyyy'}}</span>
    <span>Status:   {{ items.status}}</span>
    </ion-card>

    
    <ion-card *ngFor="let items of posts1" class="card-diplay-detail" >      
      <h2> Assigned Complaints </h2>  
      <!-- <h2>{{items.AssetDesc}}</h2> -->
      <span> Complaint Code:   {{ items.name}}</span>
      <span> Name:   {{ items.name}}</span>/
      <span>Mobile No:   {{ items.mobileNo}}</span>
      <span>Type Of Service:   {{ items.typeofservice}}</span>
      <span>Created Date:   {{ items.date | date: 'dd/MM/yyyy'}}</span>
      <span>Status:   {{ items.status}}</span>
      </ion-card>

</ion-content>
