<ion-header>
  <ion-toolbar class="grad" color="transparent">
   <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-title>  Pending Complaints</ion-title>
 </ion-toolbar>

</ion-header>


<ion-content>

      <div class="col-md-8">
        <!-- <input
        #search
        id="search"
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="basic-addon1"
      /> -->
      </div>

 <div class="ion-padding">

  
   <ngx-datatable 
     class="material"
     [limit]="10" 
     [rows]="rows" 
     [rowHeight]="50" 
     [columns]="columns"
     [columnMode]="'force'" 
     [sortType]="'multi'" 
     [headerHeight]="50" 
     [footerHeight]="50"
   
     (activate)="onActivate($event)">
   </ngx-datatable>

 </div>
</ion-content>