<ion-header>
  <!-- <ion-toolbar>
    <ion-title>View Registered Complaints</ion-title>
  </ion-toolbar> -->
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      View Registered Complaints
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let items of posts" class="card-diplay-detail" >        
    <!-- <h2>{{items.AssetDesc}}</h2> -->
    <span> Name:   {{ items.name}}</span>
    <span>Mobile No:   {{ items.mobileNo}}</span>
    <span>Type Of Service:   {{ items.typeofservice}}</span>
    <span>Status:   {{ items.status | date: 'dd/MM/yyyy'}}</span>
    <!-- <span type='time'>Time:   {{ items.time}}</span> -->
    </ion-card>

  <!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th>Name</th>
        <th>Mobile No</th>
        <th>Type Of Service</th>
        <th>Status</th>
        
      </tr>
    </thead>
    <tbody>
    
        <tr *ngFor="let res of posts">
      
        <td>{{ res.name }}</td>
        <td>{{ res.mobileNo }}</td>
        <td>{{ res.typeofservice }}</td>
        <td>{{ res.status }}</td>
        
      </tr>      
    </tbody>
  </table> -->
</ion-content>
