.menu-logo {
    height:150px;
    margin: 5px auto;
    text-align: center;
    width:300px;
    // height: 150px;
    // width: 150px;
    // background-repeat: no-repeat;
    // border-radius: 320px;
    // background-position: center;
    // background-size: contain;
    // background-color: #e3f8ff;
    // margin: 30px auto;
  }
  .app-logo{
   // background-image: url(https://www.freakyjolly.com/wp-content/uploads/2020/04/fj-logo-1.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    border-radius: 320px;
    background-position: center;
    background-size: contain;
    background-color: #e3f8ff;
    margin: 30px auto;
}
.title{
  color: aliceblue;
  text-align: center;
font: bold;

}
.grad{
  // background-image: linear-gradient(#4E2AFF ,#42F5FF);
   background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
 }
.menu-logo1{
  margin-top:10px;
 }