
<ion-app>
  <ion-split-pane contentId="main-content">


<ion-menu contentId="main-content" type="overlay" >
<!-- 
  <ion-header>  
   
    <ion-toolbar style="background-color:#3770eb;" color="transparent">  

      <div class="pagelogo">
        <div style="float: left">
        <img  src="assets/imgs/meslogo4.png"  class="menu-logo1" width="45px" height="45px" style=" padding-left: 1px;padding-top: 0px; margin-top:-10px;"  />
        </div>
        <div>
        <h6 color="transparent" style="color:aliceblue ; padding-left: 55px; " >MES   </h6>
        </div>
       
         
    </div>
    </ion-toolbar>   
  </ion-header> 
   -->
  <ion-header>

    <ion-toolbar class="grad" color="transparent">  
  
      <div class="pagelogo">
        <div style="float: left">
        <img  src="assets/imgs/meslogo4.png"  class="menu-logo1" width="45px" height="45px" style=" padding-left:5px;padding-top: 0px; margin-top:-10px;"  />
        </div>
        <div>
        <h6 color="transparent" class="title"  >MES Complaint Management</h6>
      </div>
    </div>
    </ion-toolbar>   
  
      <!-- <ion-title style="height: 100px;">
        <h2 style="text-align: center;color:black">Login</h2>
      
      </ion-title> -->
    
  </ion-header>
  
  


  <ion-content  color="light">  
   
    <!-- <div style="width: 100%;text-align: center;background-image: url('assets/imgs/bg444.jpg'); background-repeat: repeat-x;">
   
      <img src="assets/imgs/NRL_Moment.jpg" class="menu-logo"/> 
    </div> -->
    <!-- <ion-list>
      <ion-list-header>
      Actions
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list> -->
    <ion-list *ngFor="let pages of appMenuItems">  
      <ion-menu-toggle auto-hide="true">  
        <ion-item [routerLink]="pages.url" routerDirection="forward">  
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
            {{pages.title}}   
        </ion-item>  
      </ion-menu-toggle>  
    </ion-list> 
    <ion-list>
      <ion-list-header>
        Views 
      </ion-list-header>
    
    </ion-list>
   
    <ion-list *ngFor="let pages of appViews">
        
        <ion-menu-toggle auto-hide="true">  
          <ion-item [routerLink]="pages.url" routerDirection="forward">  
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>  
              {{pages.title}}   
          </ion-item>  
        </ion-menu-toggle>  
      </ion-list>

    <ion-list>
      <!-- <ion-list-header>
        Account 
      </ion-list-header>-->
     
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav  #content swipeBackEnabled="false"></ion-nav>
<ion-router-outlet id="main-content"></ion-router-outlet>

</ion-split-pane>
</ion-app>