ion-row{
    ion-textarea{
       border: solid 1px black;
    }
    submit-btn{
       background-color: red;
       
    }
 }
 mandatory{
color: red;
 }

 
.title{
   color: aliceblue;
   text-align: center;
font: bold;
 
 }
 .grad{
  // background-image: linear-gradient(#4E2AFF ,#42F5FF);
   background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
 }