<ion-header>
  <ion-toolbar class="grad" color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raise Complaint</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   
      <ion-card-content>
  <ion-list no-lines> 
      
        <ion-item>
          <ion-label floating>
           Complaint Type :
          </ion-label>
        </ion-item>
          <ion-radio-group  [(ngModel)]="ComplaintTypeID">
            <ion-row>
              <ion-col>
                   <ion-item>
                    <ion-radio mode="md" item-left value="0" (click)="changeStatus('0')"></ion-radio>
                      <ion-label>Self</ion-label>
                     
                 </ion-item>
               </ion-col>
          
              <ion-col>
                  <ion-item>
                    <ion-radio mode="md" item-left value="1" (click)="changeStatus('1')"></ion-radio>
                      <ion-label>Others</ion-label>
                      
                 </ion-item>
              </ion-col>
          
          </ion-row>
          </ion-radio-group>
        	
             <ion-list *ngIf="AllData">
  <ion-list *ngIf="selfdata">
        <ion-item>
          <ion-label floating>
            Accommodation Type*
          </ion-label>
          <ion-label id="label" >{{this.allselfdata.AccommodationType}}</ion-label>
           
        </ion-item>
        <ion-item>
          <ion-label floating>
           Accommodation No *
          </ion-label>
          <ion-label id="label" >{{this.allselfdata.AccommodationNumber}}</ion-label>
           
        </ion-item>
      </ion-list>

      <ion-list *ngIf="other">
        <!-- <ion-item>
          <ion-label>Accomodation Type</ion-label>
          <ion-select name="AccomodationName"  [interfaceOptions]="customPopoverOptions" interface="popover" (ionChange)="onSelectChangeAccom($event.target.value)" >
            <ion-select-option *ngFor="let accom of AccomodationData" [value]=accom> {{accom.accommodationNumber+ ';' + accom.accommodationType}}</ion-select-option>
         </ion-select>
        </ion-item> -->
        
   
      
      <ion-item>
        <ion-label stacked>Select Occupant*</ion-label>
   
        <ion-select name="Occupant"  [interfaceOptions]="customPopoverOptions" interface="popover"  (ionChange)="onSelectChangeoccu($event.target.value)" >
          <ion-select-option *ngFor="let occu of occupantdata" [value]=occu> {{occu.name+ ';' + occu.mobileNumber+';'+occu.accommodationNumber}}</ion-select-option>
       </ion-select>
</ion-item>

      


</ion-list>


<ion-item>
  <ion-label stacked> Service Type </ion-label>

  <ion-select name="ServiceTypeName" [interfaceOptions]="customPopoverOptions" interface="popover" (ionChange)="onSelectChangeservicetype($event.target.value)" >
    <ion-select-option *ngFor="let Servicetype of ServiceTypeData" [value]=Servicetype>{{Servicetype.serviceTypeName}}</ion-select-option>
 </ion-select>
 </ion-item>
 <ion-item no-lines>



  <ion-label >
  Complaint Description
  </ion-label>
 
</ion-item>
  <ion-row>
  <ion-textarea placeholder="Enter more information here..." [(ngModel)]="Description"></ion-textarea>
</ion-row>


<ion-item>
  <ion-label floating>
   Attach File 
  </ion-label>
  <input type="file"  #filePicker (change)="onFileChoose($event)"/>
   
</ion-item>


<div>
  <ion-button type="submit"  color="#00B81C"  style="background-color: #00B81C;border-radius: 4px;"  (click)="doRegistration()">Submit</ion-button>
  

       <!-- <ion-button color="primary" round medium ion-button  class="submit-btn"   full type="submit" (click)="doRegistration()">Save</ion-button>
       -->
</div>
    
             </ion-list>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
