<<<<<<< HEAD
<ion-header>
=======
<ion-header class="grad" color="transparent">
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
  <ion-toolbar class="grad" color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Raise Complaint</ion-title>
  </ion-toolbar>
  <!-- <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  
  <title>Feedbackform with ionic-rating</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <link href="https://rawgit.com/fraserxu/ionic-rating/master/ionic-rating.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
  <script src="https://rawgit.com/fraserxu/ionic-rating/master/ionic-rating.min.js"></script> -->
</ion-header>

<ion-content>


  <form>
    <ion-card >
      <ion-card-header>
     <h2>Feedback</h2>
      </ion-card-header>
      <ion-card-content>
        <form>
         
          <ion-item>
            <ion-label id="label" >Service Type :</ion-label>
            <ion-label id="label" >{{ServiceTypeName}}</ion-label>
           
          </ion-item>
        <ion-item>
          <ion-label id="label" > Description :</ion-label>
          <ion-label id="label" >{{complaintDescription}}</ion-label>
        </ion-item>
      
        <ion-item>
          <ion-label id="label" position="floating">Comments :</ion-label>
          
          <ion-input required [(ngModel)]="OccupantRemarks" name="OccupantRemarks"  placeholder="Remarks" ></ion-input>
       
         
        </ion-item>
     
        <ion-item>
          <ion-label id="label">Rating :
            
          </ion-label>
          <ion-icon name="star"  *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color':getColor(num)}">
         </ion-icon>
        </ion-item>
      
       <br>
       <!-- <ion-button type="submit" (click)="AddFeedback()">Submit</ion-button> -->

       <ion-button type="submit"  color="#00B81C"  style="background-color: #00B81C;border-radius: 4px;"  (click)="AddFeedback()">Submit</ion-button>
  

     </form>
      </ion-card-content>
    </ion-card>
  </form>


</ion-content>
