<!--
  Generated template for the OccupantRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <form>
    <ion-card >
      <ion-card-header>
     <!-- <h5><center> Enter Your Personal Details</center></h5> -->
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="ionicForm" (ngSubmit)="AddOccupant()" novalidate>
         

        <ion-item>
          <ion-label id="label" position="floating">Occupant Name</ion-label>
          <ion-input id="input"  formControlName="name"   type="text"  ></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
          Name is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
          Name should be min 2 chars long.
        </span>
        <ion-item>
          <ion-label id="label" position="floating">EmailID</ion-label>
          <ion-input    formControlName="email" type="email"  ></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Email is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Please provide valid Email ID.
        </span>
        <ion-item>
          <ion-label id="label" position="floating">Mobile Number
            
          </ion-label>
          <ion-input maxlength="10"  (ionChange)="onSelectMobileChange($event.target.value)"  formControlName="mobile" type="text"   ></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
          Mobile number is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
          Only numerical values allowed.
        </span>
        <span class="error ion-padding" *ngIf="mobileAlredyExist != ''">
          {{mobileAlredyExist}} 
        </span>
        <ion-item>
          <ion-label id="label" position="floating">Password
       
          </ion-label>
          <ion-input  formControlName="password" type="Password"  ></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Password is required.
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
          Password should be min 5 chars long.
        </span>
      
       <br>
       <ion-button type="submit" color="#00B81C"  style="background-color: #00B81C;border-radius: 4px;" >Register</ion-button>
     </form>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
