<ion-header>
<<<<<<< HEAD
  <ion-toolbar class="grad" color="transparent">
=======
  <ion-toolbar>
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Pending Complaints</ion-title>
  </ion-toolbar>


<style>
  .button-md {
  height: 3.6rem !important;
  font-size: 1em;
  float: inherit;
}
</style>
</ion-header>

<ion-content>
  <div>
<<<<<<< HEAD
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
=======
    <ion-item>
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
      <h4 class="headerr">Occupant Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay"> 
      <span> Name:{{this.Occupantdata.OccupantName}} </span><br>
      <span>Phone No:{{this.Occupantdata.MobileNumber}} </span><br>
   <!-- <span>Email ID:{{this.Occupantdata.EmailID}} </span><br> -->
        <span>Created Date:{{this.Occupantdata.CreatedDate}}</span><br>
        <span>Location: {{this.Occupantdata.Location}}</span><br>
       <span>Accomodation Type: {{this.Occupantdata.AccomodationType}}</span><br>
        <span>Accomodation Number: {{this.Occupantdata.AccomodationNo}}</span><br><br>
    </ion-card>
  </div>
  <div>
<<<<<<< HEAD
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
=======
    <ion-item>
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
      <h4 class="headerr">Complaint Details:</h4>
    </ion-item> 
    <ion-card class="card-diplay-detail"> 
        
      <span>ServiceType:{{this.Occupantdata.ServiceTypeName}}</span><br>
      <span>Description:{{this.Occupantdata.ComplaintDescription}} </span><br>
   
    </ion-card>
    
  </div>
<form >
 <div class="card-diplay-detail">
   
    <ion-item>
    <ion-label >Comments</ion-label>
    <ion-input type="text"  name="Comments" [(ngModel)]="Comment"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select  [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="regData.Status" name="Status">
        <ion-select-option value="Resolved">Resolved</ion-select-option>
        <ion-select-option value="Work In Progress">Work In Progress</ion-select-option>
      </ion-select>
    </ion-item>
    <br/>
   
</div>
<div class="row">
 <div class="col text-center">
  <ion-button type="Assign" color="#00B81C"  style="background-color: #00B81C;border-radius: 4px;" (click)="Assign()">Save</ion-button>
  <ion-button type="goback" color="danger" (click)="goback()">Cancel</ion-button>
 
 </div>
</div>
</form>

</ion-content>
