page-assetreturnrequest{
    .card-diplay{
      padding: 15px;
      /* background-color:cornsilk; */
    }
    .card-diplay-detail{
      padding: 15px;
      background-color: #f7f7f7;
    }
  
    .menu-logo1 {
  height: 40px;
  }
  .pagelogo {
   float: right;
   margin-top: -37px;
   }
  
  
  .headerr{
   color:#172c4e; 
  }  
  
  .underline {
     text-decoration: underline;
     color:#172c4e;
     font-size: large;
   }
<<<<<<< HEAD
     
.title{
  color: aliceblue;
  text-align: center;
font: bold;

}
.grad{
 // background-image: linear-gradient(#4E2AFF ,#42F5FF);
  background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
}
=======
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
  }
  