<ion-header>
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
     DashBoard
    </ion-title>  
  </ion-toolbar>   
</ion-header>
<!-- <ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>

<ion-title></ion-title> 
<div class="pagelogo">
     
    </div>
  </ion-navbar>

</ion-header> -->
<ion-content>

    <ion-item>
      <ion-label>Location</ion-label>
      <!-- <ion-label stacked> Service Type *</ion-label> -->
          <!-- <ion-select placeholder="Select One">
            <ion-option *ngFor="let item of locations" [value]="item">{{item.locationName}}</ion-option>
          </ion-select> -->

          <!-- <ion-select 
      multiple="false" 
      cancelText="Cancel" 
      okText="Ok"
      (ionChange)="Getselected(item)"
    > -->
    <!-- <ion-select name="location" name="resident" (ionChange)="onSelectChangeVisitor($event)" >
      <ion-select-option *ngFor="let dept of locations" value="dept"> {{dept.locationName}}</ion-select-option>
   </ion-select> -->
   <ion-select name="location"  [interfaceOptions]="customPopoverOptions" interface="popover" (ionChange)="onSelectChangeAccom($event.target.value)" >
    <ion-select-option *ngFor="let accom of locations" [value]=accom> {{accom.locationName}}</ion-select-option>
 </ion-select>
    <!-- <ion-select  name="location" (ionChange)="onSelectChangeVisitor($event)" >
      <ion-select-option *ngFor="let komp of locations" [value]="komp" >
        {{ komp.locationName }}
      </ion-select-option>
    </ion-select> -->

      <!-- <ion-select placeholder="Select One">
        <ion-select-option value="f">Goa</ion-select-option>
        <ion-select-option value="m">Kochi</ion-select-option>
      </ion-select> -->
    </ion-item>

    <ion-card >
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <!-- <img src="/assets/imgs/hotel.jpg"> -->
          </ion-thumbnail>
          <h2>{{ghn}}</h2>
          <h6 style="color:green">Registered Complaints</h6>
          <button ion-button clear item-end >{{count}}</button>
        </ion-item>
        <ion-item>
          <ion-button (click)="RegisteredView()"> View </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>


  <ion-card  >
    <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <!-- <img src="/assets/imgs/hotel.jpg"> -->
          </ion-thumbnail>
          <h2>{{ghn}}</h2>
          <h6 style="color:rgb(255, 0, 200)">Pending Complaints</h6>
          <!-- <h3 style="color:green">Available Rooms  </h3> -->
          <button ion-button clear item-end >{{Pendingcount}}</button>
          <!-- <button ion-button clear item-end>{{arrLength1}}</button> -->
        </ion-item>
        <ion-item>
          <ion-button (click)="PendingView()"> View </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card >
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <!-- <img src="/assets/imgs/hotel.jpg"> -->
          </ion-thumbnail>
          <h2>{{ghn}}</h2>
          <h6 style="color:blue">Resolved Complaints </h6>
          <button ion-button clear item-end >{{Resolvedcount}}</button>
          <!-- <button ion-button clear item-end >{{arrLength}}</button> -->
        </ion-item>
        <ion-item>
          <ion-button (click)="ResolvedView()"> View </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    

    <ion-card >
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <!-- <img src="/assets/imgs/hotel.jpg"> -->
          </ion-thumbnail>
          <h2>{{ghn}}</h2>
          <h6 style="color:rgb(243, 60, 54)">Occupied/Vacated</h6>
          <button ion-button clear item-end >{{arrLength}}</button>
        </ion-item>
        <ion-item>
          <ion-button (click)="OccupiedView()"> View </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <!-- <ion-card >
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
           
          </ion-thumbnail>
          <h2>{{ghn}}</h2>
          <h6 style="color:rgb(155, 7, 69)">Feedback</h6>
          <button ion-button clear item-end >{{arrLength}}</button>
        </ion-item>
      </ion-list>
    </ion-card>
   -->
</ion-content>
