<ion-header>
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      Capture image
    </ion-title>  
  </ion-toolbar>   
</ion-header>

<ion-content>

  <ion-img *ngIf="myImage" [src]="myImage"></ion-img>

  <ion-button (click)="takePicture()" expand="block"  >
    <ion-icon name="camera" slot="start"></ion-icon>
    Capture image
  </ion-button>
</ion-content>