page-assetreturnrequest{
    .card-diplay{
      padding: 15px;

    }
    .card-diplay-detail{
      padding: 15px;
    
    }
  
    .menu-logo1 {
  height: 40px;
  }
  .pagelogo {
   float: right;
   margin-top: -37px;
   }
  
  
  .headerr{
   color:#172c4e; 
  
 
  }  
  .title{
    color: aliceblue;
    text-align: center;
 font: bold;
  
  }
  .grad{
   // background-image: linear-gradient(#4E2AFF ,#42F5FF);
    background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
  }
  
.menu-logo1{
  margin-top:10px;
 }

  .button-inner{
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .underline {
     text-decoration: underline;
     color:#172c4e;
     font-size: large;
   }

   ion-list {
    --ion-background-color: transparent !important;
    --ion-border-color: transparent !important;
    }
 
  }
  