
.title{
    color: aliceblue;
    text-align: center;
 font: bold;
  
  }
  .grad{
   // background-image: linear-gradient(#4E2AFF ,#42F5FF);
    background-image: linear-gradient(to right, #4E2AFF ,#42F5FF);
  }