<ion-header>
  <ion-toolbar class="grad" color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>


<style>
  .button-md {
  height: 3.6rem !important;
  font-size: 1em;
  float: inherit;
}
</style>
</ion-header>

<ion-content>
  <div>
    <ion-item color="transparent" lines="none" style="background-color: lightgrey;">
      <h5 class="headerr">Occupant Details:</h5>
    </ion-item> 
    <ion-card class="card-diplay"> 
<<<<<<< HEAD
      <br>
     <span> Name:{{this.Occupantdata.OccupantName}} </span><br>
      <span>Phone No:{{this.Occupantdata.MobileNumber}} </span><br>
  
        <span>Created Date:{{this.Occupantdata.CreatedDate}}</span><br>
        <span>Location: {{this.Occupantdata.Location}}</span><br><br>
       <span>Accomodation Type: {{this.Occupantdata.AccomodationType}}</span><br>
        <span>Accomodation Number: {{this.Occupantdata.AccomodationNo}}</span><br>
        <span>Building name:{{this.Occupantdata.BuildingName}}</span><br>
        <span>Complex Name:{{this.Occupantdata.ComplexName}} </span><br><br>
=======
      <span> Name:{{this.Occupantdata.OccupantName}} </span><br>
      <span>Phone No:{{this.Occupantdata.MobileNumber}} </span><br>
  
        <span>Created Date:{{this.Occupantdata.CreatedDate}}</span><br>
        <span>Location: {{this.Occupantdata.Location}}</span><br>
       <span>Accomodation Type: {{this.Occupantdata.AccomodationType}}</span><br>
        <span>Accomodation Number: {{this.Occupantdata.AccomodationNo}}</span><br><br>
        <span>Building name:{{this.Occupantdata.BuildingName}}</span><br>
        <span>Complex Name:{{this.Occupantdata.ComplexName}} </span><br>
>>>>>>> 433948a77c4b4afad20f042cd316eb052ae61df0
     
      </ion-card>
  </div>


</ion-content>
